<div class="container contact-form">
  <div class="row justify-content-center mt-5">
      <h1 class="text-center mb-3">Kapcsolatfelvételi Űrlap</h1>
  </div>
  <div class="row justify-content-center mt-5">
      <div class="col-md-3 d-none d-md-block">
          <div class="row">
              <div class="col-12 mb-2">
                  <img src="./media/image/contactdog1.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Dog 1">
              </div>
              <div class="col-12 mb-2">
                  <img src="./media/image/contactdog2.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Dog 2">
              </div>
              <div class="col-12 mb-2">
                  <img src="./media/image/contactdog3.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Dog 3">
              </div>
          </div>
      </div>
      <form class="col-md-6 col-lg-6" ng-submit="submitForm()">
          <div class="mb-3">
              <label for="name" class="form-label">Név:</label>
              <input type="text" class="form-control" id="name" ng-model="contact.name" required>
          </div>
          <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" ng-model="contact.email" required>
          </div>
          <div class="mb-3">
              <label for="message" class="form-label">Üzenet:</label>
              <textarea class="form-control" id="message" ng-model="contact.message" rows="5" required></textarea>
          </div>
          <div class="mb-3">
              <button type="submit" class="btn btn-success">Küldés</button>
          </div>
      </form>
      <div class="col-md-3 d-none d-md-block">
          <div class="row">
              <div class="col-12 mb-2">
                  <img src="./media/image/contactcat1.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Cat 1">
              </div>
              <div class="col-12 mb-2">
                  <img src="./media/image/contactcat2.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Cat 2">
              </div>
              <div class="col-12 mb-2">
                  <img src="./media/image/contactcat3.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 350px;" alt="Cat 3">
              </div>
          </div>
      </div>
  </div>
</div>