<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> <!-- Added fixed-top and changed to dark -->
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="home">
            <img src="./media/image/logo.jpg" alt="Pajti Paradicsom Logó" class="img-fluid" style="max-height: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="services" ui-sref-active="active">Szolgáltatásaink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="prices" ui-sref-active="active">Áraink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="gallery" ui-sref-active="active">Galéria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="policies" ui-sref-active="active">Tudnivalók</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="contact" ui-sref-active="active">Kapcsolat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="schedule" ng-if="isLoggedIn" ui-sref-active="active">Időpontfoglalás</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-warning text-dark me-2" ui-sref="login" ng-if="!isLoggedIn" ui-sref-active="active">
                    <strong>Bejelentkezés</strong>
                </a>
                <a class="btn btn-dark text-white" ui-sref="register" ng-if="!isLoggedIn" ui-sref-active="active">
                    <strong>Regisztráció</strong>
                </a>
                <a class="btn btn-primary text-white me-2" ui-sref="users" ng-if="isLoggedIn" ui-sref-active="active">
                    <strong>Felhasználó</strong>
                </a>
                <a class="btn btn-danger text-white" ng-if="isLoggedIn" ng-click="logout()">
                    <strong>Kijelentkezés</strong>
                    <p ng-if="successMessage">{{ successMessage }}</p>
                </a>
            </div>
        </div>
    </div>
</nav>