<div class="container mt-5">
  <!-- Bejelentkezési felület fő konténere -->
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <!-- Kártya formázás a bejelentkezési blokkhoz -->
        <div class="card-body p-4">
          <h2 class="text-center">Bejelentkezés</h2>

          <!-- Sikeres vagy sikertelen bejelentkezési visszajelzés -->
          <div ng-if="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
          <div ng-if="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <form name="loginForm" ng-submit="submitLoginForm()" novalidate>
            <!-- Felhasználónév mező -->
            <div class="form-group">
              <label for="username">Felhasználónév:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                ng-model="user.username"
                required
              />
              <div
                ng-show="loginForm.username.$invalid && loginForm.username.$touched"
                class="text-danger"
              >
                A felhasználónév megadása kötelező!
              </div>
            </div>

            <!-- Jelszó mező -->
            <div class="form-group">
              <label for="password">Jelszó:</label>
              <div class="input-group">
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  class="form-control"
                  id="password"
                  name="password"
                  ng-model="user.password"
                  required
                />
                <span
                  class="input-group-text"
                  ng-click="showPassword = !showPassword"
                  style="cursor: pointer"
                >
                  <i
                    class="fa"
                    ng-class="showPassword ? 'fa-lock' : 'fa-unlock'"
                  ></i>
                </span>
              </div>
              <div
                ng-show="loginForm.password.$invalid && loginForm.password.$touched"
                class="text-danger"
              >
                A jelszó megadása kötelező!
              </div>
            </div>

            <!-- Bejelentkezési gomb -->
            <div class="d-flex justify-content-center mt-3">
              <button
                type="submit"
                class="btn btn-primary"
                ng-disabled="loginForm.$invalid"
              >
                Bejelentkezés
              </button>
            </div>
          </form>

          <!-- Regisztrációra ösztönző szöveg -->
          <p class="text-center mt-3">
            <strong
              >Még nincs fiókod? <a ui-sref="register">Regisztrálj!</a></strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
